@import "tailwindcss";
body {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: "Rounded M plus 1c";
  font-size: 1rem;
  line-height: 1.6;
  color: #434343;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  letter-spacing: 0.05em;
}

.tabs-container {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  margin: 0 10px;
  border: 2px solid #a0a48e;
  cursor: pointer;
  background-color: #ffffff;
  color: #545748;
  transition: background-color 0.3s ease;
}

.tab.active {
  background-color: #a0a48e;
  color: #ffffff;
}

.tab-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-image {
  width: 400px;
  height: 400px;
  margin-left: 20px;
}
